<html>
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://code.jquery.com https://cdn.datatables.net; style-src 'unsafe-inline' https://cdn.datatables.net">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>    
        <script src="../dist/renderer/seasonStats.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.css" />
        <script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>

    </head>
    <body>
        
        <div id="statsTypeWrapper">
            <select id="statsType">
                <option value="0">Batting</option>
                <option value="1">Pitching</option>
            </select>
            <select id="season" multiple>

            </select>
            <div>
                <button id="loadBtn">Load</button>
            </div>
            <div>
                Min <span id="qualifierName"></span> to qualify: <input type="text" id="qualifierValue"/>
            </div>
        </div>

        <div id="tournamentData">
            
        </div>

    </body>
</html>
