USE [ootp_data]
GO
/****** Object:  StoredProcedure [dbo].[spInsertCards]    Script Date: 5/28/2024 7:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spInsertCards]
	@playerCards uttPlayerCard READONLY,
	@pDebugFlag int = 0
AS
BEGIN

	
	create table #CardMarketValueToInsert (
		PtCardID [int] NOT NULL,
		[BuyOrderHigh] [int] NOT NULL,
		[SellOrderLow] [int] NOT NULL,
		[Last10Price] [int] NOT NULL,
		[BuyOrderHigh(CC)] [int],
		[SellOrderLow(CC)] [int],
		[Last10Price(CC)] [int],
	)

	create table #CardsToInsert (
		CardID INT NOT NULL,
		CardTitle VARCHAR(200) NOT NULL,
		CardValue INT,
		CardType INT,
		CardSubType INT,
		Year INT,
		Peak CHAR(1),
		Team VARCHAR(100),
		LastName VARCHAR(100),
		FirstName VARCHAR(100),
		NickName VARCHAR(100),
		UniformNumber INT,
		DayOB INT,
		MonthOB INT,
		YearOB INT,
		Bats INT,
		Throws INT,
		Position INT,
		PitcherRole INT,
		Contact INT,
		Gap INT,
		Power INT,
		Eye INT,
		AvoidKs INT,
		BABIP INT,
		ContactvL INT,
		GapvL INT,
		PowervL INT,
		EyevL INT,
		AvoidKvL INT,
		BABIPvL INT,
		ContactvR INT,
		GapvR INT,
		PowervR INT,
		EyevR INT,
		AvoidKvR INT,
		BABIPvR INT,
		GBHitterType INT,
		FBHitterType INT,
		BattedBallType INT,
		Speed INT,
		StealRate INT,
		Stealing INT,
		Baserunning INT,
		Sacbunt INT,
		Buntforhit INT,
		Stuff INT,
		Movement INT,
		Control INT,
		pHR INT,
		pBABIP INT,
		StuffvL INT,
		MovementvL INT,
		ControlvL INT,
		pHRvL INT,
		pBABIPvL INT,
		StuffvR INT,
		MovementvR INT,
		ControlvR INT,
		pHRvR INT,
		pBABIPvR INT,
		Fastball INT,
		Slider INT,
		Curveball INT,
		Changeup INT,
		Cutter INT,
		Sinker INT,
		Splitter INT,
		Forkball INT,
		Screwball INT,
		Circlechange INT,
		Knucklecurve INT,
		Knuckleball INT,
		Stamina INT,
		Hold INT,
		GB INT,
		Velocity VARCHAR(10),
		ArmSlot INT,
		Height INT,
		InfieldRange INT,
		InfieldError INT,
		InfieldArm INT,
		DP INT,
		CatcherAbil INT,
		CatcherFrame INT,
		CatcherArm INT,
		OFRange INT,
		OFError INT,
		OFArm INT,
		PosRatingP INT,
		PosRatingC INT,
		PosRating1B INT,
		PosRating2B INT,
		PosRating3B INT,
		PosRatingSS INT,
		PosRatingLF INT,
		PosRatingCF INT,
		PosRatingRF INT,
		LearnC INT,
		Learn1B INT,
		Learn2B INT,
		Learn3B INT,
		LearnSS INT,
		LearnLF INT,
		LearnCF INT,
		LearnRF INT,
		era INT,
		tier INT,
		MissionValue INT,
		[date] DATE,
		[LiveUpdateID] INT NULL,
		[BuyOrderHigh] [int] NOT NULL,
		[SellOrderLow] [int] NOT NULL,
		[Last10Price] [int] NOT NULL,
		[BuyOrderHigh(CC)] [int],
		[SellOrderLow(CC)] [int],
		[Last10Price(CC)] [int],
	)

	create table #CardMarketValueExclude (
		PtCardID int
	)
	
	declare @LiveUpdateID int;

	SELECT TOP 1 @LiveUpdateID = LiveUpdateID 
	FROM dbo.LiveUpdate
	WHERE getdate() > EffectiveDate 
	ORDER BY EffectiveDate desc

	insert into #CardsToInsert
	select i.CardID,
		i.CardTitle,
		i.CardValue,
		i.CardType,
		i.CardSubType,
		i.Year,
		i.Peak,
		i.Team,
		i.LastName,
		i.FirstName,
		i.NickName,
		i.UniformNumber,
		i.DayOB,
		i.MonthOB,
		i.YearOB,
		i.Bats,
		i.Throws,
		i.Position,
		i.PitcherRole,
		i.Contact,
		i.Gap,
		i.Power,
		i.Eye,
		i.AvoidKs,
		i.BABIP,
		i.ContactvL,
		i.GapvL,
		i.PowervL,
		i.EyevL,
		i.AvoidKvL,
		i.BABIPvL,
		i.ContactvR,
		i.GapvR,
		i.PowervR,
		i.EyevR,
		i.AvoidKvR,
		i.BABIPvR,
		i.GBHitterType,
		i.FBHitterType,
		i.BattedBallType,
		i.Speed,
		i.StealRate,
		i.Stealing,
		i.Baserunning,
		i.Sacbunt,
		i.Buntforhit,
		i.Stuff,
		i.Movement,
		i.Control,
		i.pHR,
		i.pBABIP,
		i.StuffvL,
		i.MovementvL,
		i.ControlvL,
		i.pHRvL,
		i.pBABIPvL,
		i.StuffvR,
		i.MovementvR,
		i.ControlvR,
		i.pHRvR,
		i.pBABIPvR,
		i.Fastball,
		i.Slider,
		i.Curveball,
		i.Changeup,
		i.Cutter,
		i.Sinker,
		i.Splitter,
		i.Forkball,
		i.Screwball,
		i.Circlechange,
		i.Knucklecurve,
		i.Knuckleball,
		i.Stamina,
		i.Hold,
		i.GB,
		i.Velocity,
		i.ArmSlot,
		i.Height,
		i.InfieldRange,
		i.InfieldError,
		i.InfieldArm,
		i.DP,
		i.CatcherAbil,
		i.CatcherFrame,
		i.CatcherArm,
		i.OFRange,
		i.OFError,
		i.OFArm,
		i.PosRatingP,
		i.PosRatingC,
		i.PosRating1B,
		i.PosRating2B,
		i.PosRating3B,
		i.PosRatingSS,
		i.PosRatingLF,
		i.PosRatingCF,
		i.PosRatingRF,
		i.LearnC,
		i.Learn1B,
		i.Learn2B,
		i.Learn3B,
		i.LearnSS,
		i.LearnLF,
		i.LearnCF,
		i.LearnRF,
		i.era,
		i.tier,
		i.MissionValue,
		i.date,
		0 LiveUpdateID,
		[BuyOrderHigh],
		[SellOrderLow],
		[Last10Price],
		[BuyOrderHigh(CC)],
		[SellOrderLow(CC)],
		[Last10Price(CC)]
	from @playerCards i
	left join dbo.Card c on i.CardID = c.CardID
	where i.CardType != 1 and c.CardID IS NULL

	insert into #CardsToInsert
	select 
		i.CardID,
		i.CardTitle,
		i.CardValue,
		i.CardType,
		i.CardSubType,
		i.Year,
		i.Peak,
		i.Team,
		i.LastName,
		i.FirstName,
		i.NickName,
		i.UniformNumber,
		i.DayOB,
		i.MonthOB,
		i.YearOB,
		i.Bats,
		i.Throws,
		i.Position,
		i.PitcherRole,
		i.Contact,
		i.Gap,
		i.Power,
		i.Eye,
		i.AvoidKs,
		i.BABIP,
		i.ContactvL,
		i.GapvL,
		i.PowervL,
		i.EyevL,
		i.AvoidKvL,
		i.BABIPvL,
		i.ContactvR,
		i.GapvR,
		i.PowervR,
		i.EyevR,
		i.AvoidKvR,
		i.BABIPvR,
		i.GBHitterType,
		i.FBHitterType,
		i.BattedBallType,
		i.Speed,
		i.StealRate,
		i.Stealing,
		i.Baserunning,
		i.Sacbunt,
		i.Buntforhit,
		i.Stuff,
		i.Movement,
		i.Control,
		i.pHR,
		i.pBABIP,
		i.StuffvL,
		i.MovementvL,
		i.ControlvL,
		i.pHRvL,
		i.pBABIPvL,
		i.StuffvR,
		i.MovementvR,
		i.ControlvR,
		i.pHRvR,
		i.pBABIPvR,
		i.Fastball,
		i.Slider,
		i.Curveball,
		i.Changeup,
		i.Cutter,
		i.Sinker,
		i.Splitter,
		i.Forkball,
		i.Screwball,
		i.Circlechange,
		i.Knucklecurve,
		i.Knuckleball,
		i.Stamina,
		i.Hold,
		i.GB,
		i.Velocity,
		i.ArmSlot,
		i.Height,
		i.InfieldRange,
		i.InfieldError,
		i.InfieldArm,
		i.DP,
		i.CatcherAbil,
		i.CatcherFrame,
		i.CatcherArm,
		i.OFRange,
		i.OFError,
		i.OFArm,
		i.PosRatingP,
		i.PosRatingC,
		i.PosRating1B,
		i.PosRating2B,
		i.PosRating3B,
		i.PosRatingSS,
		i.PosRatingLF,
		i.PosRatingCF,
		i.PosRatingRF,
		i.LearnC,
		i.Learn1B,
		i.Learn2B,
		i.Learn3B,
		i.LearnSS,
		i.LearnLF,
		i.LearnCF,
		i.LearnRF,
		i.era,
		i.tier,
		i.MissionValue,
		i.date, 
		@LiveUpdateID LiveUpdateID,
		[BuyOrderHigh],
		[SellOrderLow],
		[Last10Price],
		[BuyOrderHigh(CC)],
		[SellOrderLow(CC)],
		[Last10Price(CC)]
	from @playerCards i
	left join dbo.Card c on (i.CardID = c.CardID and @LiveUpdateID = c.LiveUpdateID)
	where i.CardType = 1 and c.CardID IS NULL

	if @pDebugFlag = 1 begin
		select *
		from #CardsToInsert
	end

	insert into Card (
		CardID,
		CardTitle,
		CardValue,
		CardType,
		CardSubType,
		Year,
		Peak,
		Team,
		LastName,
		FirstName,
		NickName,
		UniformNumber,
		DayOB,
		MonthOB,
		YearOB,
		Bats,
		Throws,
		Position,
		PitcherRole,
		Contact,
		Gap,
		Power,
		Eye,
		AvoidKs,
		BABIP,
		ContactvL,
		GapvL,
		PowervL,
		EyevL,
		AvoidKvL,
		BABIPvL,
		ContactvR,
		GapvR,
		PowervR,
		EyevR,
		AvoidKvR,
		BABIPvR,
		GBHitterType,
		FBHitterType,
		BattedBallType,
		Speed,
		StealRate,
		Stealing,
		Baserunning,
		Sacbunt,
		Buntforhit,
		Stuff,
		Movement,
		Control,
		pHR,
		pBABIP,
		StuffvL,
		MovementvL,
		ControlvL,
		pHRvL,
		pBABIPvL,
		StuffvR,
		MovementvR,
		ControlvR,
		pHRvR,
		pBABIPvR,
		Fastball,
		Slider,
		Curveball,
		Changeup,
		Cutter,
		Sinker,
		Splitter,
		Forkball,
		Screwball,
		Circlechange,
		Knucklecurve,
		Knuckleball,
		Stamina,
		Hold,
		GB,
		Velocity,
		ArmSlot,
		Height,
		InfieldRange,
		InfieldError,
		InfieldArm,
		DP,
		CatcherAbil,
		CatcherFrame,
		CatcherArm,
		OFRange,
		OFError,
		OFArm,
		PosRatingP,
		PosRatingC,
		PosRating1B,
		PosRating2B,
		PosRating3B,
		PosRatingSS,
		PosRatingLF,
		PosRatingCF,
		PosRatingRF,
		LearnC,
		Learn1B,
		Learn2B,
		Learn3B,
		LearnSS,
		LearnLF,
		LearnCF,
		LearnRF,
		era,
		tier,
		MissionValue,
		date,
		LiveUpdateID
	)
	select 		
		CardID,
		CardTitle,
		CardValue,
		CardType,
		CardSubType,
		Year,
		Peak,
		Team,
		LastName,
		FirstName,
		NickName,
		UniformNumber,
		DayOB,
		MonthOB,
		YearOB,
		Bats,
		Throws,
		Position,
		PitcherRole,
		Contact,
		Gap,
		Power,
		Eye,
		AvoidKs,
		BABIP,
		ContactvL,
		GapvL,
		PowervL,
		EyevL,
		AvoidKvL,
		BABIPvL,
		ContactvR,
		GapvR,
		PowervR,
		EyevR,
		AvoidKvR,
		BABIPvR,
		GBHitterType,
		FBHitterType,
		BattedBallType,
		Speed,
		StealRate,
		Stealing,
		Baserunning,
		Sacbunt,
		Buntforhit,
		Stuff,
		Movement,
		Control,
		pHR,
		pBABIP,
		StuffvL,
		MovementvL,
		ControlvL,
		pHRvL,
		pBABIPvL,
		StuffvR,
		MovementvR,
		ControlvR,
		pHRvR,
		pBABIPvR,
		Fastball,
		Slider,
		Curveball,
		Changeup,
		Cutter,
		Sinker,
		Splitter,
		Forkball,
		Screwball,
		Circlechange,
		Knucklecurve,
		Knuckleball,
		Stamina,
		Hold,
		GB,
		Velocity,
		ArmSlot,
		Height,
		InfieldRange,
		InfieldError,
		InfieldArm,
		DP,
		CatcherAbil,
		CatcherFrame,
		CatcherArm,
		OFRange,
		OFError,
		OFArm,
		PosRatingP,
		PosRatingC,
		PosRating1B,
		PosRating2B,
		PosRating3B,
		PosRatingSS,
		PosRatingLF,
		PosRatingCF,
		PosRatingRF,
		LearnC,
		Learn1B,
		Learn2B,
		Learn3B,
		LearnSS,
		LearnLF,
		LearnCF,
		LearnRF,
		era,
		tier,
		MissionValue,
		date,
		LiveUpdateID
	from #CardsToInsert

	select CardID,case when i.CardType = 1 then @LiveUpdateID else 0 end LiveUpdateID,i.[BuyOrderHigh],i.[SellOrderLow],i.[Last10Price],i.[BuyOrderHigh(CC)],i.[SellOrderLow(CC)],i.[Last10Price(CC)]
	into #CardMappings
	from @playerCards i
	
	if 1=1 begin
		insert into #CardMarketValueExclude 
		select PtCardID
		from dbo.Card c
		where CardType = 1
	end

	insert into #CardMarketValueToInsert (PtCardID,[BuyOrderHigh],[SellOrderLow],[Last10Price],[BuyOrderHigh(CC)],[SellOrderLow(CC)],[Last10Price(CC)])
	select c.PtCardID,i.[BuyOrderHigh],i.[SellOrderLow],i.[Last10Price],i.[BuyOrderHigh(CC)],i.[SellOrderLow(CC)],i.[Last10Price(CC)]
	from dbo.Card c
	join #CardMappings i on c.CardID = i.CardID and c.LiveUpdateID = i.LiveUpdateID
	where not exists (select NULL from #CardMarketValueExclude ex where ex.PtCardID = c.PtCardID)

	exec spInsertCardsMarketValue

END

